<div id="logoutConfirmModal" class="logout-modal" aria-hidden="true">
    <div class="logout-modal__backdrop" data-logout-close></div>
    <div
        class="logout-modal__dialog"
        role="dialog"
        aria-modal="true"
        aria-labelledby="logoutConfirmTitle"
        aria-describedby="logoutConfirmMessage"
    >
        <h2 id="logoutConfirmTitle" class="logout-modal__title">Confirm logout</h2>
        <p id="logoutConfirmMessage" class="logout-modal__message">Are you sure you want to log out?</p>
        <div class="logout-modal__actions">
            <button type="button" class="logout-modal__btn logout-modal__btn--secondary" data-logout-close>Cancel</button>
            <button type="button" class="logout-modal__btn logout-modal__btn--primary" id="logoutConfirmSubmit">Log out</button>
        </div>
    </div>
</div>
