# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
*.log
staticfiles/
media/

# Env / secrets
.env

# Virtual envs
venv/
.venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Docker / build artifacts
*.pid
